<header class="main-header">
    <img class="logo" [src]=" isDarkTheme ? '/assets/icons/logo-light.svg' : '/assets/icons/logo.svg'" alt="logo">
    <nav class="main-nav">
      <ul>
        <li><a href="#hero" (click)="scrollToSection('hero', $event)">Home</a></li>
        <li><a href="#about" (click)="scrollToSection('about', $event)">About</a></li>
        <li><a href="#projects" (click)="scrollToSection('projects', $event)">Projects</a></li>
        <li><a href="#contact" (click)="scrollToSection('contact', $event)">Contact</a></li>
      </ul>
    </nav>
    <div class="theme-toggle">
      <label class="switch">
        <input type="checkbox" [checked]="isDarkTheme" (change)="toggleTheme()">
        <span class="slider"></span>
      </label>
    </div>
</header>