<div class="portfolio-container">
  <app-navbar></app-navbar>

  <main class="content-container">
    <section id="hero" class="section-container">
      <app-hero></app-hero>
    </section>
    
    <section id="about" class="section-container">
      <app-about></app-about>
    </section>
    
    <section id="projects" class="section-container">
      <app-projects></app-projects>
    </section>
    
    <section id="contact" class="section-container">
      <app-contact></app-contact>
    </section>
  </main>
</div>
