<section class="carrosel-container">
    <div class="carousel" #carousel>
        <div class="carousel-item" *ngFor="let project of projects" [class.active]="project === projects[currentIndex]">
            <div class="project-card" >
                <img [src]="project.image" alt="{{ project.title }}" class="project-image">
                <h3 class="project-title">{{ project.title }}</h3>
                <p class="project-description">{{ project.description }}</p>
                <div class="project-technologies">
                  <a *ngFor="let tech of project.technologies" [href]="tech.link">
                    <img [src]="tech.icon" [alt]="tech.name" class="tech-icon">
                  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="controls">
        <button class="prev" (click)="scrollLeft()">‹</button>
        <div class="indicators">
            <span *ngFor="let project of projects; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
        </div>
        <button class="next" (click)="scrollRight()">›</button>
    </div>
</section>